@font-face {
    font-family: "shalimar";
    src: url("./tipografias/shalimar.ttf");
}
*{
    color: #E0144C;
    background-color:  #00ABB3;
}
h1 {
    font-family: "Shalimar";
}
h1:hover {
    color: #FCE700;
}
form {
    display:flex;
    width: 50%;
    align-items: flex-end;
}
main {
    width: 50%;
    justify-content: center;
}
img {
height: 50%;
width: 50%;
margin: auto;
align-self: auto;
}
