*{
    color:antiquewhite
    background-color: black;
}
h1:hover {
    color:black;
}
form {
    width:50%; 

}
main{
    display: inline-block;
    align-items: center;
}
img{
    height:50%;
    width:50%;
    margin:auto;
    align-self:auto;
}